@media screen and (max-width: 600px) {}

body {
  margin: 0;
  background-image: url("../IMAGES/background_image.gif");
}

#navigation-bar {
  float: center;
}
.homepage {
  text-align: center;
  color: white;
  background-image: url("../images/homepage.jpg");
  background-size: 100%;
  position: relative;
  text-transform: capitalize;
  font-family: 'Shadows Into Light', cursive;
}

.portfolio {
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
}

.portfolio img {
  padding: 10px;
  width: 100%;
}


.hide img {
  padding: 10px
}

.caption {
  display: table-caption;
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  font-family: 'Shadows Into Light', cursive;
}
#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #999;
}
.para p{
  font-family: 'Pacifico', cursive;
  text-transform: capitalize;
}
